Connected to Python 3.12.10

In [ ]:
name = "karly"
message = "Hello" + " " + name + ", " + "what are you doing after class?"
print(message)

Hello karly, what are you doing after class?

Restarted Python 3.12.10

In [ ]:
name = "sam"
print(name.upper())
print(name.lower())

SAM
sam

Restarted Python 3.12.10

In [ ]:
words = "i love cats.\t"
print("Before: " , words)
clean = words.strip("\t")
print("After: ", clean)

Before:  i love cats.
After:  i love cats.

In [ ]:
4 + 4

8

In [ ]:
16/2

8.0

In [ ]:
4 * 2

8

In [ ]:
10 - 2

8

In [ ]:
fav_num = 27
message = "Hey, friend my fav number is " + str(fav_num) + "."
print(message)

Hey, friend my fav number is 27.

In [ ]:
object_friends = ['Sumi', 'Suchi' , 'Nabila', 'Nishat', 'Sanjidah']
sort_name = sorted(object_friends)
print(sort_name)

['Nabila', 'Nishat', 'Sanjidah', 'Suchi', 'Sumi']

In [ ]:
for i in sort_name:
    print(i)

Nabila
Nishat
Sanjidah
Suchi
Sumi

In [ ]:
for i in sort_name:
    print("Hey " + i + "," + " " + "I hope your having a good day my love!")

Hey Nabila, I hope your having a good day my love!
Hey Nishat, I hope your having a good day my love!
Hey Sanjidah, I hope your having a good day my love!
Hey Suchi, I hope your having a good day my love!
Hey Sumi, I hope your having a good day my love!

In [ ]:
# Are the following variable names allowed in python?
# 1_message  -> yes
# Greeting_message  -> yes
# Message_1 -> yes 
# First name -> no
# Full_name -> yes

In [ ]:
# Create a variable that holds the string “hello there!”
message = "hello there!"
print(message)

hello there!

In [ ]:
# Create a variable for first name, last name and an email extension. Concatenating all three together to form an email address.For example: firstnamelastname@gmail.com
first_name = "sam"
last_name = "james"
email = "@gmail.com"
print("email address: " + first_name + last_name + email)

email address: samjames@gmail.com

In [ ]:
# Store someone you know name in a variable called name. Print their name in lower and uppercase using a method.
name = "lilly"
print(name.upper())
print(name.lower())

LILLY
lilly

In [ ]:
month = 15 
print("hey are you free on the " + str(month) + "th?")

hey are you free on the 15th?

Connected to Python 3.12.10

In [ ]:
fruits = ["apples", "bannana", "mango"]
print(fruits)

['apples', 'bannana', 'mango']

In [ ]:
# Modify your list of foods to add another – making a total of 4 foods
fruits.insert(1, "carrots")
fruits.insert(2, "orengages")
fruits.insert(3, "lemon")
fruits.insert(4, " watermelon")
print(fruits)

['apples', 'carrots', 'orengages', 'lemon', ' watermelon', 'bannana', 'mango']

In [ ]:
fruits.remove("lemon")
print(fruits)

['apples', 'carrots', 'orengages', ' watermelon', 'bannana', 'mango']

In [ ]:
fruits.append("cake")

In [ ]:
print(fruits)

['apples', 'carrots', 'orengages', ' watermelon', 'bannana', 'mango', 'cake']

In [ ]:
places = ["South Korea", "Japan", "Itly"]
print(places)
print(sorted(places))
places.sort(reverse=True)
print(places)

['South Korea', 'Japan', 'Itly']
['Itly', 'Japan', 'South Korea']
['South Korea', 'Japan', 'Itly']